{
  "presets": ["es2015", "react"],
  "plugins": ["transform-object-rest-spread", "./babelRelayPlugin"],
  "env": {
    "production": {
      "presets": ["es2015", "react", "react-optimize"]
    }
  }
}
